/basic_test[.]out
/cm_build/
/cm_dist/
/dist/
/dists[.]time-stamp
/doc1_dist/
/doc_dist/
/do_test/
[.]DS_store
errs
*.exe
/full_test[.]out
[.]gdb_history
junk
/libmarpa-*[.]tar[.]gz
/nogit/
nogit*
/rebuild[.]out
/releng[.]out
/single_test[.]out
*[.]swp
/timestamp/
