/auto[.]c
/auto[.]o
/auto[.]xs
/exec_lua[.]xs
/glue[.]out
/inspect[.]out
/kollos[.]out
/glue_inc[.]c
/inspect_inc[.]c
/kollos_inc[.]c
/libmarpa[.]a
/Makefile
/Makefile[.]old
/marpa_codes[.]h
/marpa_slifop[.]h
/MYMETA[.]*
/MYMETA[.]*
/R3[.]c
/R3[.]o
