/auto[.]c
/auto[.]o
/auto[.]xs
/exec_lua[.]xs
/glue_inc[.]c
/glue[.]out
/inspect_inc[.]c
/inspect[.]out
/kollos_inc[.]c
/kollos[.]out
/libmarpa[.]a
/Makefile
/Makefile[.]old
/MYMETA[.]*
/MYMETA[.]*
/R3[.]c
/R3[.]o
