.gdb_history
/Build
/MYMETA.json
/MYMETA.yml
/Makefile
/Makefile[.]old
/Marpa-R3-[0-9].[0-9][0-9][0-9][0-9][0-9][0-9].tar.gz
/Marpa-R3-[0-9].[0-9][0-9][0-9][0-9][0-9][0-9]/
/Marpa-R3-[0-9].[0-9][0-9][0-9]_[0-9][0-9][0-9].tar.gz
/Marpa-R3-[0-9].[0-9][0-9][0-9]_[0-9][0-9][0-9]/
/_build/
/blib/
/blib_shared/
/hide/
/libmarpa_build/
/pod2htmd.tmp
/pod2htmi.tmp
R3[.]bs
R3[.]o
[.]DS_Store
dovg.log
errs
junk
nogit*
pm_to_blib
doit[.]out
test[.]out
