/blib/
/blib_shared/
/_build/
/Build
dovg.log
[.]DS_Store
errs
test[.]out
.gdb_history
/hide/
junk
/libmarpa_build/
/Makefile
/Marpa-R3-[0-9].[0-9][0-9][0-9]_[0-9][0-9][0-9]/
/Marpa-R3-[0-9].[0-9][0-9][0-9][0-9][0-9][0-9]/
/Marpa-R3-[0-9].[0-9][0-9][0-9]_[0-9][0-9][0-9].tar.gz
/Marpa-R3-[0-9].[0-9][0-9][0-9][0-9][0-9][0-9].tar.gz
/Makefile[.]old
/MYMETA.json
/MYMETA.yml
nogit*
pm_to_blib
/pod2htmd.tmp
/pod2htmi.tmp
R3[.]bs
R3[.]o
